<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="taxify">
    <meta name="keywords" content="taxify">
    <meta name="author" content="taxify">
    <link rel="manifest" href="manifest.json">
    <link rel="icon" href="https://themes.pixelstrap.com/pwa/taxify/images/logo/favicon.png" type="image/x-icon">
    <title> - Taxify Driver App</title>

    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Icons -->
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.5.1/uicons-solid-rounded/css/uicons-solid-rounded.css'>

    <!-- Styles -->
    <link rel="stylesheet" href="/iconsax.css">
    <link rel="stylesheet" href="/bootstrap.css">
    <link rel="stylesheet" href="/style.css">
</head>

<body>


    <!-- Main content -->
    <main>
        <%- body %>
    </main>

    <!-- Bottom navbar starts -->
    <div class="navbar-menu">
        <ul>
            <li>
                <a href="home.html">
                    <div class="icon">
                        <img class="unactive" src="../images/svg/home.svg" alt="home">
                        <img class="active" src="../images/svg/home-fill.svg" alt="home">
                    </div>
                    <span>Home</span>
                </a>
            </li>
            <li>
                <a href="active-ride.html">
                    <div class="icon">
                        <img class="unactive" src="../images/svg/driving.svg" alt="driving">
                        <img class="active" src="../images/svg/driving-fill.svg" alt="driving">
                    </div>
                    <span>Active Ride</span>
                </a>
            </li>
            <li>
                <a href="my-rides.html">
                    <div class="icon">
                        <img class="unactive" src="../images/svg/car.svg" alt="car">
                        <img class="active" src="../images/svg/car-fill.svg" alt="car">
                    </div>
                    <span>My Rides</span>
                </a>
            </li>
            <li>
                <a href="setting.html">
                    <div class="icon">
                        <img class="unactive" src="../images/svg/setting.svg" alt="setting">
                        <img class="active" src="../images/svg/setting-fill.svg" alt="setting">
                    </div>
                    <span>Setting</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- Bottom navbar end -->

    <!-- Scripts -->
    <script src="/iconsax.js"></script>
    <script src="/bootstrap.bundle.min.js"></script>
    <script src="/sticky-header.js"></script>
    <script src="/template-setting.js"></script>
    <script src="/script.js"></script>
</body>

</html>
