<link
  rel="stylesheet"
  href="https://cdn-uicons.flaticon.com/2.5.1/uicons-solid-rounded/css/uicons-solid-rounded.css"
/>
<div class="header header-fixed header-logo-center header-auto-show">
  <a href="index.html" class="header-title">Sticky Mobile</a>
  <a href="#" data-back-button class="header-icon header-icon-1"
    ><i class="fas fa-arrow-left"></i
  ></a>
  <a href="#" data-toggle-theme class="header-icon header-icon-4"
    ><i class="fas fa-lightbulb"></i
  ></a>
</div>

<div class="page-content pb-0">
  <div class="card preload-img position-fixed w-100" data-card-height="250">
    <!-- Search -->

    <div class="content mt-2 position-absolute start-0 end-0 mx-1">
      <div class="notch-clear"></div>
      <div class="search-box bg-theme color-theme rounded-m shadow-l mx-2">
        <i class="fa fa-search"></i>
        <input
          type="text"
          class="border-0"
          placeholder="What should we send over? (try burger)"
          data-search
        />
        <a href="#" class="clear-search disabled no-click mt-0"></a>
        <a href="#" data-menu="menu-filter" class="color-theme"
          ><i class="fa fa-sliders me-n3"></i
        ></a>
      </div>
      <div class="search-results disabled-search-list mt-3">
        <div class="card card-style mx-2 px-2 mb-0 pt-2">
          <a
            href="#"
            class="d-flex py-2"
            data-filter-item
            data-filter-name="all hamburger burger beef buns"
          >
            <div>
              <img
                src="images/food/500x500/1.png"
                class="rounded-sm me-1"
                width="45"
                alt="img"
              />
            </div>
            <div>
              <span class="color-highlight font-400 d-block pt-0 mb-n2 font-11"
                >Fast Food</span
              >
              <strong class="color-theme font-14 d-block mt-n2"
                >Hamburger</strong
              >
            </div>
            <div class="ms-auto text-center align-self-center pe-2">
              <h5 class="line-height-xs font-18 pt-3">
                $9.<sup class="font-14">50</sup>
              </h5>
            </div>
          </a>
          <a
            href="#"
            class="d-flex py-2"
            data-filter-item
            data-filter-name="all apple watch 42 leather edition white"
          >
            <div>
              <img
                src="images/food/500x500/2.png"
                class="rounded-sm me-1"
                width="45"
                alt="img"
              />
            </div>
            <div>
              <span class="color-highlight font-400 d-block pt-0 mb-n2 font-11"
                >Sweet Tooth</span
              >
              <strong class="color-theme font-14 d-block mt-n2"
                >Blackberry Doughnuts</strong
              >
            </div>
            <div class="ms-auto text-center align-self-center pe-2">
              <h5 class="line-height-xs font-18 pt-3">
                $5.<sup class="font-14">50</sup>
              </h5>
            </div>
          </a>
          <a
            href="#"
            class="d-flex py-2"
            data-filter-item
            data-filter-name="all apple watch lime edition 44 green"
          >
            <div>
              <img
                src="images/food/500x500/3.png"
                class="rounded-sm me-1"
                width="45"
                alt="img"
              />
            </div>
            <div>
              <span class="color-highlight font-400 d-block pt-0 mb-n2 font-11"
                >Pizza</span
              >
              <strong class="color-theme font-14 d-block mt-n2"
                >Prosciutto e Funghi</strong
              >
            </div>
            <div class="ms-auto text-center align-self-center pe-2">
              <h5 class="line-height-xs font-18 pt-3">
                $16.<sup class="font-14">50</sup>
              </h5>
            </div>
          </a>
        </div>
      </div>
    </div>
    <!-- Placing iframe under the header-->
    <iframe
      src="https://maps.google.com/maps?q=%Sidney%20Opera&t=k&z=17&ie=UTF8&iwloc=&output=embed"
      style="height: 650px; margin-top: -200px"
    ></iframe>
  </div>

  <!-- Scroll Over Clear Effect-->
  <div
    class="card bg-transparent shadow-0 border-0 mb-0 no-click"
    data-card-height="230"
  ></div>

  <div class="card card-style mx-0 pb-5 pt-1">
    <div class="content">
      <style>
        .style-0 {
          padding: 0px 19.9286px;
          margin: 0px;
          box-sizing: border-box;
        }

        .style-1 {
          margin-top: 20px;
          padding: 0px;
          box-sizing: border-box;
        }

        .style-2 {
          display: flex;
          -webkit-box-align: center;
          align-items: center;
          gap: 10px;
          margin: 0px;
          padding: 0px;
          box-sizing: border-box;
        }

        .style-3 {
          width: 40px;
          height: 40px;
          object-fit: cover;
          border-radius: 100%;
          margin: 0px;
          padding: 0px;
          box-sizing: border-box;
          max-width: 100%;
          vertical-align: middle;
        }

        .style-4 {
          width: calc(100% - 50px);
          display: flex;
          -webkit-box-align: start;
          align-items: flex-start;
          gap: 5px;
          -webkit-box-pack: justify;
          justify-content: space-between;
          margin: 0px;
          padding: 0px;
          box-sizing: border-box;
        }

        .style-5 {
          margin: 0px;
          padding: 0px;
          box-sizing: border-box;
        }

        .style-6 {
          font-weight: 500;
          color: rgb(23, 28, 38);
          font-size: 14px;
          margin-bottom: 0px;
          margin: 0px;
          padding: 0px;
          box-sizing: border-box;
          margin-top: 0px;
          line-height: 16.8px;
        }

        .style-7 {
          margin: 0px;
          padding: 0px;
          box-sizing: border-box;
          gap: 4px;
          align-items: center;
          display: flex;
        }

        .style-8 {
          width: 10px;
          margin: 0px;
          padding: 0px;
          box-sizing: border-box;
          vertical-align: middle;
        }

        .style-9 {
          font-weight: 400;
          color: rgb(23, 28, 38);
          font-size: 14px;
          margin-bottom: 0px;
          margin: 0px;
          padding: 0px;
          box-sizing: border-box;
          margin-top: 0px;
          line-height: 16.8px;
        }

        .style-10 {
          font-size: 13px;
          margin: 0px;
          padding: 0px;
          color: rgb(127, 131, 132);
          box-sizing: border-box;
          font-weight: 400;
        }

        .style-11 {
          transform: matrix(1.02, 0, 0, 1.02, 0, 0);
          background: rgb(0, 102, 255) none repeat scroll 0% 0% / auto
            padding-box border-box;
          box-shadow:
            rgba(32, 32, 149, 0.1) 0px 1px 2px 0px,
            rgba(32, 32, 149, 0.15) 0px 2px 5px 0px;
          margin-bottom: 20px;
          color: rgb(255, 255, 255);
          transition: 0.2s ease-in;
          border-radius: 6px;
          display: flex;
          justify-content: center;
          padding: 6px;
          padding-bottom: 3px;
          text-align: left;
          box-sizing: border-box;
          outline: rgb(255, 255, 255) none 0px;
        }

        .style-12 {
          color: rgb(240, 248, 255);
          margin: 0px;
          padding: 0px;
          box-sizing: border-box;
        }

        .style-13 {
          padding-left: 5px;
          line-height: normal;
          font-size: 16px;
          margin: 0px;
          box-sizing: border-box;
        }

        .style-14 {
          padding-bottom: 14.9286px;
          border-bottom: 1px solid rgb(232, 232, 233);
          margin: 0px;
          box-sizing: border-box;
        }

        .style-15 {
          margin-top: 16px;
          padding: 0px;
          box-sizing: border-box;
          align-content: center;
          justify-content: space-between;
          display: flex;
        }

        .style-16 {
          font-size: 13px;
          margin-bottom: 0px;
          margin: 0px;
          padding: 0px;
          color: rgb(23, 28, 38);
          box-sizing: border-box;
          font-weight: 400;
          margin-top: 0px;
          line-height: 15.6px;
        }

        .style-17 {
          font-size: 16px;
          margin-bottom: 0px;
          margin: 0px;
          padding: 0px;
          color: rgb(32, 177, 73);
          box-sizing: border-box;
          font-weight: 600;
          margin-top: 0px;
          line-height: 19.2px;
        }

        .style-18 {
          font-size: 13px;
          line-height: 19.5px;
          margin-bottom: 0px;
          margin: 0px;
          padding: 0px;
          box-sizing: border-box;
          margin-top: 0px;
        }

        .style-19 {
          font-size: 13px;
          line-height: 19.5px;
          margin-bottom: 0px;
          margin: 4px 0px 0px;
          padding: 0px;
          color: rgb(127, 131, 132);
          box-sizing: border-box;
          font-weight: 400;
          margin-top: 4px;
        }

        .style-20 {
          margin: 8px 0px 0px;
          padding: 0px;
          box-sizing: border-box;
          margin-top: 8px;
          align-content: center;
          justify-content: space-between;
          display: flex;
        }

        .style-21 {
          font-size: 13px;
          margin-bottom: 0px;
          margin: 0px;
          padding: 0px;
          color: rgb(127, 131, 132);
          box-sizing: border-box;
          font-weight: 400;
          margin-top: 0px;
          line-height: 15.6px;
        }

        .style-22 {
          font-size: 14px;
          margin-bottom: 0px;
          margin: 0px;
          padding: 0px;
          color: rgb(23, 28, 38);
          box-sizing: border-box;
          font-weight: 400;
          margin-top: 0px;
          line-height: 16.8px;
        }

        .style-23 {
          margin: 16px 0px 0px;
          padding: 0px;
          box-sizing: border-box;
          margin-top: 16px;
          align-content: center;
          justify-content: space-between;
          display: flex;
        }

        .style-24 {
          font-size: 13px;
          margin-bottom: 0px;
          margin: 0px;
          padding: 0px;
          color: rgb(127, 131, 132);
          box-sizing: border-box;
          font-weight: 400;
          margin-top: 0px;
          line-height: 15.6px;
        }

        .style-25 {
          font-size: 14px;
          margin-bottom: 0px;
          margin: 0px;
          padding: 0px;
          color: rgb(23, 28, 38);
          box-sizing: border-box;
          font-weight: 400;
          margin-top: 0px;
          line-height: 16.8px;
        }

        .style-26 {
          margin: 8px 0px 0px;
          padding: 0px;
          box-sizing: border-box;
          margin-top: 8px;
          align-content: center;
          justify-content: space-between;
          display: flex;
        }

        .style-27 {
          font-size: 13px;
          margin-bottom: 0px;
          margin: 0px;
          padding: 0px;
          color: rgb(127, 131, 132);
          box-sizing: border-box;
          font-weight: 400;
          margin-top: 0px;
          line-height: 15.6px;
        }

        .style-28 {
          font-size: 14px;
          margin-bottom: 0px;
          margin: 0px;
          padding: 0px;
          color: rgb(23, 28, 38);
          box-sizing: border-box;
          font-weight: 400;
          margin-top: 0px;
          line-height: 16.8px;
        }

        .style-29 {
          border-radius: 8px;
          padding: 16px;
          margin-bottom: 0px;
          margin: 16px 0px 0px;
          background-color: rgb(243, 244, 246);
          box-sizing: border-box;
          margin-top: 16px;
          padding-left: 16px;
        }

        .style-30 {
          width: 100%;
          position: relative;
          padding-bottom: 7px;
          margin-bottom: 7px;
          z-index: 0;
          list-style: outside none none;
          display: inline-block;
          font-size: 14px;
          margin: 0px 0px 7px;
          padding: 0px 0px 7px;
          box-sizing: border-box;
        }

        .style-31 {
          display: flex;
          -webkit-box-align: center;
          align-items: center;
          gap: 5px;
          margin: 0px;
          padding: 0px;
          box-sizing: border-box;
        }

        .style-32 {
          position: relative;
          --Iconsax-Color: rgba(23, 28, 38, 1);
          --Iconsax-Size: 18px;
          background-color: rgb(243, 244, 246);
          margin: 0px;
          padding: 0px;
          box-sizing: border-box;
          vertical-align: middle;
        }

        .style-33 {
          width: calc(100% - 25px);
          font-size: 14px;
          margin-bottom: 0px;
          margin: 0px;
          padding: 0px;
          color: rgb(23, 28, 38);
          box-sizing: border-box;
          font-weight: 300;
          margin-top: 0px;
          line-height: 16.8px;
        }

        .style-34 {
          padding: 0px;
          margin: 0px;
          border: 0px none rgb(33, 37, 41);
          width: 100%;
          position: relative;
          padding-bottom: 0px;
          margin-bottom: 0px;
          z-index: 0;
          list-style: outside none none;
          display: inline-block;
          font-size: 14px;
          box-sizing: border-box;
        }

        .style-35 {
          display: flex;
          -webkit-box-align: center;
          align-items: center;
          gap: 5px;
          margin: 0px;
          padding: 0px;
          box-sizing: border-box;
        }

        .style-36 {
          position: relative;
          --Iconsax-Color: rgba(23, 28, 38, 1);
          --Iconsax-Size: 18px;
          background-color: rgb(243, 244, 246);
          margin: 0px;
          padding: 0px;
          box-sizing: border-box;
          vertical-align: middle;
        }

        .style-37 {
          width: calc(100% - 25px);
          font-size: 14px;
          margin-bottom: 0px;
          margin: 0px;
          padding: 0px;
          color: rgb(23, 28, 38);
          box-sizing: border-box;
          font-weight: 300;
          border: 0px none rgb(23, 28, 38);
          margin-top: 0px;
          line-height: 16.8px;
        }
      </style>

      <div class="style-0">
        <div class="style-1">
          <div class="style-2">
            <img
              class="style-3"
              src="https://themes.pixelstrap.com/pwa/taxify/assets/images/profile/p5.png"
              alt="profile"
            />
            <div class="style-4">
              <div class="style-5">
                <h5 class="style-6">nbmn</h5>
                <div class="style-7">
                  <img
                    class="style-8"
                    src="https://themes.pixelstrap.com/pwa/taxify/assets/images/svg/star.svg"
                    alt="star"
                  />
                  <h5 class="style-9">3443234</h5>
                  <span class="style-10">(23232323)</span>
                </div>
              </div>
              <a
                href="#"
                class="btn btn-full mb-3 rounded-s text-uppercase font-700 fs-6 shadow-s bg-blue-dark btn-icon text-start lh-3"
              >
                <i class="fi fi-sr-square-1 fs-5 text-center"></i>
                1000
                <!--  <i class=" fs-6  font-15 text-center" style="right:0px;left:auto;font-style: normal;font-weight: 300;">100</i>-->
              </a>
            </div>
          </div>
          <div class="style-14">
            <div class="style-15">
              <h6 class="style-16">Payment method : Cash</h6>
              <h4 class="style-17">
                <p class="style-18">SEK: 800</p>
              </h4>
            </div>
            <p class="style-19">Description</p>
          </div>
          <div class="style-20">
            <h6 class="style-21">Booking ID</h6>
            <h5 class="style-22">#418</h5>
          </div>
          <div class="style-23">
            <h6 class="style-24">Date</h6>
            <h5 class="style-25">Sunday, 8/4/2024</h5>
          </div>
          <div class="style-26">
            <h6 class="style-27">Vendor</h6>
            <h5 class="style-28">Dexter</h5>
          </div>
        </div>
        <ul class="style-29">
          <li class="style-30">
            <div class="style-31">
              <img
                class="style-32"
                src="https://themes.pixelstrap.com/pwa/taxify/assets/images/svg/location-fill.svg"
                alt="location"
              />
              <h5 class="style-33">17, Yonge St, Toronto, Canada</h5>
            </div>
          </li>
          <li class="style-34">
            <div class="style-35">
              <img
                class="style-36"
                src="https://themes.pixelstrap.com/pwa/taxify/assets/images/svg/gps.svg"
                alt="gps"
              />
              <h5 class="style-37">20, Yonge St, Toronto, Canada</h5>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="divider mx-3 mb-0"></div>

    <div class="content mx-3"></div>

    <div class="divider mx-3"></div>
  </div>
</div>
