<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="taxify">
    <meta name="keywords" content="taxify">
    <meta name="author" content="taxify">
    <link rel="manifest" href="manifest.json">
    <link rel="icon" href="https://themes.pixelstrap.com/pwa/taxify/assets/images/logo/favicon.png" type="image/x-icon">
    <title>Taxify - Driver App</title>
    <link rel="apple-touch-icon" href="https://themes.pixelstrap.com/pwa/taxify/assets/images/logo/favicon.png">
    <meta name="title-color" content="#01AA85">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="taxify">
    <meta name="msapplication-TileImage" content="https://themes.pixelstrap.com/pwa/taxify/assets/images/logo/favicon.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- iconsax css -->
    <link rel="stylesheet" type="text/css" href="/iconsax.css">

    <!-- bootstrap css -->
    <link rel="stylesheet" id="rtl-link" type="text/css" href="/bootstrap.css">

    <!-- Theme css -->
    <link rel="stylesheet" id="change-link" type="text/css" href="/style.css">
</head>

<body>
    <!-- header starts -->
    <header id="header" class="main-header inner-page-header">
        <div class="custom-container">
            <div class="header-panel">
                <a href="setting.html">
                    <i class="iconsax icon-btn" data-icon="chevron-left"> </i>
                </a>
                <h3>My Walletnjjn</h3>
            </div>
        </div>
    </header>
    <!-- header end -->

    <!-- wallet section starts -->
    <section class="section-b-space">
        <div class="custom-container">
            <div class="balance-background">
                <div class="balance-details">
                    <div>
                        <h6>Total Balancekjnkjnkj</h6>
                        <h4 class="mt-2">$3,263.03</h4>
                    </div>
                    <a href="topup-wallet.html" class="btn theme-btn balance-btn mt-0">Topup Wallet</a>
                </div>
            </div>

            <ul class="nav nav-pills my-ride-tab w-100 border-0 mt-4" id="Tab" role="tablist">
                <li class="nav-item  w-50" role="presentation">
                    <button class="nav-link active" id="pill-trip-tab" data-bs-toggle="pill" data-bs-target="#trip-tab">Trip History</button>
                </li>
                <li class="nav-item  w-50" role="presentation">
                    <button class="nav-link" id="pill-withdraw-tab" data-bs-toggle="pill" data-bs-target="#withdraw-tab">Withdraw History</button>
                </li>
            </ul>

            <div class="tab-content" id="TabContent">
                <div class="tab-pane fade active show" id="trip-tab">
                    <ul class="earning-list">
                        <% orders.forEach(order => { %>
                        <li>
                            <div class="earning-box">
                                <img class="img-fluid profile-image" src="https://themes.pixelstrap.com/pwa/taxify/assets/images/profile/p1.png" alt="profile-image">

                                <div class="earning-content">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <a href="ride-details.html">
                                            <h6 class="content-color fw-normal"><%= order.name %></h6>
                                        </a>
                                        <h5 class="fw-semibold success-color">$<%= order.sum %></h5>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between mt-1">
                                        <h6 class="fw-medium title-color">#<%= order.id %></h6>
                                        <h6 class="fw-normal content-color"><%= new Date(order.date).toLocaleDateString() %></h6>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <% }); %>
                    </ul>
                </div>

                <div class="tab-pane fade" id="withdraw-tab">
                    <ul class="earning-list">
                        <!-- Add your withdraw items here -->
                    </ul>
                </div>
            </div>
        </div>
        <div class="fixed-btn">
            <div class="custom-container">
                <a href="withdraw.html" class="btn theme-btn w-100">withdraw</a>
            </div>
        </div>
    </section>
    <!-- wallet section starts -->

    <!-- panel-space start -->
    <section class="panel-space"></section>
    <!-- panel-space end -->

    <!-- iconsax js -->
    <script src="/iconsax.js"></script>

    <!-- bootstrap js -->
    <script src="/bootstrap.bundle.min.js"></script>

    <!-- sticky-header js -->
    <script src="/sticky-header.js"></script>

    <!-- template-setting js -->
    <script src="/template-setting.js"></script>

    <!-- script js -->
    <script src="/script.js"></script>
</body>

</html>
