body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

.container {
    max-width: 600px;
}

#ordersList {
    margin-top: 20px;
}

.form-container {
    display: none;
    z-index: 1050; /* To ensure it appears above other content */
}

.card {
    width: 90%;
    max-width: 500px;
}

.fixed-bottom {
    z-index: 1040; /* To ensure it appears above other content */
}
